/* Resetando alguns estilos padrões */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    color: #333;
}

.navbar {
    margin-bottom: 30px;
}

.navbar-brand {
    font-size: 1.8rem;
}

.navbar-nav .nav-link {
    font-size: 1.1rem;
    margin-left: 20px;
}

.navbar-nav .nav-link:hover {
    color: #ffc107 !important;
}
.logo img {
    width: 150px; /* Define a largura da logo */
    height: auto; /* Mantém a proporção da logo */
}

h2 {
    margin-bottom: 30px;
    font-size: 2.5rem;
    font-weight: bold;
    color: #333;
}

/* Estilo para os Cards */
.card {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 12px rgba(235, 8, 8, 0.2);
}

.card-img-top {
    border-radius: 10px 10px 0 0;
}

.card-body {
    background-color: #fff;
    padding: 20px;
    text-align: center;
}

.card-title {
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 10px;
}

.card-text {
    font-size: 1rem;
    color: #666;
}

/* Configuração de Layout para o Cardápio */
.row-cols-md-3 .col {
    margin-bottom: 30px;
}

/* Estilo para o Carrossel */
.carousel-item img {
    border-radius: 10px;
    height: 400px;
    object-fit: cover;
}

/* Estilo para o Formulário */
form .form-label {
    font-weight: bold;
}

form .form-control {
    border-radius: 10px;
}

form button {
    background-color: #ffc107;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
}

form button:hover {
    background-color: #e0a800;
}

/* Responsividade */
@media (max-width: 768px) {
    .navbar-nav {
        text-align: center;
    }

    .navbar-nav .nav-item {
        margin-bottom: 10px;
    }

    h2 {
        font-size: 2rem;
    }

    .card-body {
        padding: 15px;
    }
}

.preco {
  font-size: 12px;
  background-color: #e74c3c;
  color: white;
  padding: 2px 6px;
  border-radius: 10px;
  position: absolute;
  top: 10px;
  right: 10px;
}



/* Estilos personalizados para a seção da história na pagina inicial */

#historia {
  background-color: #fff8f0;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
}

#historia h2 {
  font-family: 'Georgia', serif;
  color: #b03a2e;
}

#historia p {
  font-size: 1.1rem;
  line-height: 1.7;
  color: #333;
}


 .logo-fixa {
    position: fixed;
    bottom: 5px;   /* distância da parte inferior da tela */
    left: 5px;     /* distância da borda esquerda */
    width: 250px;   /* ajuste o tamanho da logo conforme necessário */
    z-index: 1000;  /* garante que fique por cima de outros elementos */
  }
  