*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* box-sizing: border-box é uma propriedade CSS que altera a forma como a largura e a altura de um elemento são calculadas*/
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{ 
    background-image: url(rest/Bem\ vindos\ ao.jpg);
    display: flex;
    justify-content: center;  /*tudo isso ajusta os elementos para o centro*/
    align-items: center;
    min-height: 100vh;
    background-size: cover; /*muda o tamanho da img de fundo*/
background-position: center;
}

.caixa{
    width: 420px;
    background-color: rgba(160, 153, 153, 0.253);
border: 3px solid rgba(233, 225, 225, 0.705);
border-radius: 10px ;
color: rgb(7, 7, 7);
padding: 30px 40px 30px 40px;
box-shadow: 0 0 10px;
}

.caixa h1 {
    font-size: 40px;
    text-align: center;
}


.login{
    width: 100%;
    height: 50px;
    background-color: #fff;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    color: black;
    font-weight: 600;
    box-shadow: 0 0 10px black;;
}

.login:hover{
    background-color: transparent;
    border: 3px solid rgba(29, 31, 34, 0.705);;
    color: rgb(228, 128, 128);
    transition: 0.5s;
}

